<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
         bootstrap="vendor/bin/phpunit"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite>
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="log/__report/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="40" highLowerBound="70" />
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="tests/results.xml"/>
    </logging>
</phpunit>
